<label>First: <input data-bind="value: first" type="text"/></label>
<label>Last: <input data-bind="value: last" type="text"/></label>
<button data-bind="click: add">Add</button>
<ul data-bind="foreach: contacts, flash: contacts">
    <li data-bind="text: fullName"></li>
</ul>

@section scripts
{
    <script src="~/Scripts/app/app.js"></script>
    <script>
        ko.bindingHandlers.flash = {
            update: function (element, valueAccessor) {
                ko.utils.unwrapObservable(valueAccessor());
                $(element).hide().fadeIn(500);
            }
        };
        
        ko.applyBindings(new ViewModel());
    </script>
}
