<label>Name: <input data-bind="value: name" type="text"/></label>
<div data-bind="visible: name">Hello <span data-bind="text: name"></span></div>

@section scripts
{
    <script>
        var ViewModel = function () {
            var self = this;
            self.name = ko.observable();
        };
        ko.applyBindings(new ViewModel());
    </script>
}